html{
    background-color: rgb(36, 227, 230);
}

#frame_Lv2{
    background-color: #ffffff;
    width: 96%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
}
.header{
    width: 100%;
}
.header_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px auto 0px;
}
.header_navi{
    display: none;
    vertical-align: middle;
}
.header_navi_list{
    width: 770px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}
.header_navi_list_content{
    font-size: 12px;
    text-decoration: none;
    color: inherit;
}
.partition{
    background-color: black;
    display: block;
    width: 1px;
    height: 100%;
}
.header_navi_button{
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    background-color: rgb(222, 222, 38);
    text-align: center;
    border-radius: 100px;
    padding: 10px 20px;
}
#menu_open_button{
    margin: 10px 10px 0px;
    padding: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    background-color: rgb(222, 222, 38);
    border-radius: 10000px;
}
#menu_close_button{
    margin: 10px 10px 0px;
    padding: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    background-color: rgb(170, 170, 170);
    border-radius: 10000px;
}
#menu_window{
    background-color: #bedb1c;
    opacity: 0.7;
    display: none;
    width: 100%;
    margin: 0px;
}
#body{
    display: block;
}

@media (min-width: 870px){
    .header_navi
    {
        display: block;
    }
    #menu_open_button{
        display: none;
    }
}

